<!doctype html>
<html>
<head>
<style>
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');

.body {
    background-color: #f5e8da;

.nav {
  background-color: white; 
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline;
  font-size: 20px;
  padding: 20px;
}
</style>
  <title>receipt</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="font-family: 'Noto Serif KR', serif;">
<div class= "body", id = "body">
<center>
<a href = "http://192.168.0.67:9843/home"><img src="{{url_for('static', filename='logo.png')}}"></a>
<br>
<ul class="nav"> 
  <li><a href="http://192.168.0.67:9843/home">그랩앤고 홈</a></li>
  <li><a href="http://192.168.0.67:9843/maincart">가상 장바구니</a></li>
  <li><a href="http://192.168.0.67:9843/mainreceipt">영수증</a></li>  
  <li><a href="http://192.168.0.67:9843/logout">로그아웃</a></li>
</ul>
<br>

<title>test</title>

{% if name and total_price%}
  <h3> <b>{{ name }}</b> 고객님의 가상 장바구니 실시간 내역입니다.</h3> <br>
  <h3> <b>{{ product_id }}</b> 번 상품인 {{product_name}}(이)가 <b>{{ cart_stock }}</b> 개 담겨있습니다.</h3>
  <h3>개당 가격은 {{product_price}} 이며</h3>
  <h3>총 가격은 {{total_price}} 원 입니다</h3>
{% else %}
  <h3> <b>{{ name }}</b> 고객님의<h3>
  <h3>그랩앤고 히스토리가 없습니다.</h3>
  <h3>¯\_(ツ)_/¯</h3>

{% endif %}
</body>
<footer>
  <br>
  <br>
  <div>Author: GrabNGo Team<br></div>
  <a href="mailto:smoo4359@uni.sydney.edu.au">smoo4359@uni.sydney.edu.au</a><br>
  <a href="mailto:erintheworld@gmail.com">erintheworld@gmail.com</a><br>
  <a href="mailto:kmshero112@gmail.com">kmshero112@gmail.com</a><br>
  <a href="mailto:woo.sungchun89@gmail.com">woo.sungchun89@gmail.com</a>
  <div>Copyrightⓒ2020 GrabNGo All rights reserved.</div>
</footer>
</center>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div>

</html>